body {
    padding: 10px 10px 0px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
   }

h1 {
    color: #901C1C;
    font-weight: 300;
}

header {
    display: flex;
}

.logo_wrapper {
    display: flex;
}

.logo {
    padding: 5px;
    width: 120px;
    height: 50px;
    margin-left: 150px;
}

.indexHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    width: 100%;
}

.indexTitle {
    margin-right: 30px;
}

.tags {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.tag {
    margin-right: 6px;
    height: 26px;
    padding: 3px 6px 3px 6px;
    background-color: white;
    border-radius: 13px;
    border: solid #bbbaba 1px;
    color: #901C1C;
    cursor: pointer;
}



.photographesIndex {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: auto;
    justify-content: space-around;
    max-width: 1100px;
}

.photographer {
    margin-left: 40px;
    margin-right: 60px;
    min-width: 250px;
}

.portraitWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photographerName {
    color: #ca4f16;
}

.photographerDescription {
    display: flex;
    flex-direction: column;
    margin-top: -14px;
}

.basement {
    color: #992718;
    margin-top: 2px;
    margin-bottom: -2px;
}

.slogan {
    font-size: smaller;
    margin-bottom: 0px;
}

.price {
    font-size: smaller;
    font-weight: lighter;
}

.photographerTags {
    display: flex;
    justify-content: center;
}

.itemTag {
    margin-right: 6px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 13px;
    border: solid #bbbaba 1px;
    color: #901C1C;
}

.photographerInfos {
    margin: auto;
    padding: 50px 50px 0px 50px;
}

.profile {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    max-width: 1400px;
    width: 100%;
}

.photographerDescriptionProfile {
    display: flex;
    flex-direction: column;
    margin-left: -200px;
}

.photographerTagsProfile {
    display: flex;
}

.contactMe {
    height: 50px;
    width: 135px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

.photographerNameProfile {
    font-size: 50px;
    color: #d65113;
}

.portraitWrapperProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileNameWrapper {
    display: flex;
    justify-content: space-between;
}

.portraitProfile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: 30px;
    margin-right: 40px;
}

.trier {
    display: flex;
    margin-left: 50px;
    height: 100px;
    align-items: center;
    position: relative;
}

.trierPar {
    font-weight: bolder;
}

.deroulant {
    display: flex;
    flex-direction: column;
}

.triButton {
    display: flex;
    align-items: center;
    height: 50px;
    width: 135px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    position: absolute;
    left: 50px;
    top : -12px;
}

.sous {
    top: 38px;
    display: flex;
    padding-left: 20px;
    border-top:solid 0.5px white ;
    display: none;
}

.sous-1 {
    top: 88px;
}

.arrowUp {
    animation-fill-mode: forwards;
}

.arrowUp:hover {
    animation: arrow-spin 500ms;
}

.arrowUp:hover .sous {
    display: block;
}

.allMedias {
    display: flex;
    flex-wrap: wrap;
}

.mediaItem {
    margin-left: 40px;
    margin-right: 60px;
    min-width: 250px;
    max-width: 250px;
    width: 100%;
}

.mediaWrapper {
    display: flex;
    flex-direction: column;
}

.media {

    width: 250px;
    height: 250px;
    object-fit: cover;
}

.mediaInfos {
    display: flex;
    justify-content: space-between;
}

.mediaLikes {
    color: #901C1C;;
}

.likes {
    display: flex;
    align-items: center;
}

.mediaTitle {
    color: #901C1C;
};

.likeButton {
    border: 0px;
    color: #901C1C;
}

.totalLikesWrapper {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    width: 200px;
    bottom: 0;
    right: 100px;
    font-size: small;
    background-color: rgba(228, 84, 84, 0.781);
}

#buttonPopularity {
    justify-content: space-around;
}

#totalHeart {
    margin-left: 9px;
}

@keyframes arrow-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes menu-appearance {
    from {
        transform: translateY(20px);
    }
    to   {
        transform: translateY(0px);
    }
}
